################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/MovieAppWebApi/.vs/MovieAppWebApi
/backend/MovieAppWebApi/MovieAppWebApi/obj
/backend/MovieAppWebApi/InfraCore/obj
/backend/MovieAppWebApi/InfraCore/bin/Debug/netcoreapp3.1
/backend/MovieAppWebApi/MovieAppWebApi/bin/Debug/netcoreapp3.1
